/* import */
@import url(../font/fonts.googleapis.com_css_family=Pacifico.css);
/* import */

/* root */
:root {
	/* nav */
	--nav-height: 8vh;
	/* footer */
	--footer-height: 8vh;
}	
/* root */

body {
	background-color: #aaa;
	height: 100vh;
}

/* nav */
nav {
	background-color: blanchedalmond;
	height: var(--nav-height);
}
/* nav */


/* main */
@import url(./main.css);

/* main */

/* footer */
footer {
	bottom: 0px;
	background-color: #d100d1;
	height: var(--footer-height);
}