@charset "UTF-8";

/* font */
/** Pacifico **/
@import url(../font/fonts.googleapis.com_css_family=Pacifico.css);
/* font end */

/* import */
@import 'header/style.css';
@import 'main/style.css';

@import 'tools/box.css';
@import 'tools/photo.css';
@import 'tools/shadow.css';

/* body */
body {
	background-color: #aaa;
    width: 100%;
	height: 100%;
}


/* mediaquery 320 / 480 / 600 / 768 / 960 / 1024 / 1280 */
@media (max-width: 1280px){
	@import 'header/style.css';
}
@media (max-width: 1024px){
}
@media (max-width: 960px){
}
@media (max-width: 768px){
}
@media (max-width: 600px){
}
@media (max-width: 480px){   
}
@media (max-width: 320px){
}