
:root {
    /* --table-contents */
    --table-contents-color: #ffffffdd;
    --table-contents-background-color: #b5ababa9;
    --table-contents-line-color: #ffffffdd;
        /** dark mode **/
        --table-contents-color-dark: #ebebebdd;
        --table-contents-background-color-dark: #272626a9;
        --table-contents-line-color-dark: #807f7f;
        /** light mode **/
        --table-contents-color-light: #ffffffdd;
        --table-contents-background-color-light: #b5ababa9;
        --table-contents-line-color-light: #ffffffdd;
    /* note */
    --note-color: #323232;
    --note-background-color: #ffffff;
        /** dark mode **/
        --note-color-dark: #ffffff;
        --note-background-color-dark: #323232;
        /** light mode **/
        --note-color-light: #323232;
        --note-background-color-light: #ffffff;

	/* color */
}	

/* contents */
#contents{
    width: 100%;
	position: relative;
	display: inline;
}

#contents #contents-box {
    overflow-y: scroll;
    height: 100vh;
}

#contents #contents-box #notes{
    color: var(--note-color);
    background-color: var(--note-background-color);
    padding: 20px;
    overflow-x: hidden;
}

#contents #table-contents {
    position: absolute;
    display: block;
    z-index: 300;
    top: 24%;
    right: 10px;
}

#contents #table-contents .table-contents-display-none {
    display: none;
}

#contents #table-contents #table-contents-botton {
    position: absolute;
    top: 10px;
    right: 8px;
    width: 32px;
    height: 32px;
    padding: 4px;
    border-radius: 100%;
    font-size: 16px;
    color: var(--table-contents-color);
}

#contents #table-contents .table-contents-close{
    border-radius: 100%;
    background-color: var(--table-contents-background-color);
}

#contents #table-contents #table-contents-container {
    width: 160px;
    color: var(--table-contents-color);
    background-color: var(--table-contents-background-color);
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
}

#contents #table-contents #table-contents-container #table-contents-title{
    display: block;
    line-height: 32px;
}


#contents #table-contents #table-contents-container #table-contents-list {
    padding: 4px;
    line-height: 24px;
}

#contents #table-contents #table-contents-container #table-contents-list::before {
    display: block;
    content: '';
    width: 90%;
    border-top: var(--table-contents-line-color) double 3px;
}

#contents #table-contents #table-contents-container #table-contents-list::after {
    display: block;
    content: '';
    width: 90%;
    border-top: var(--table-contents-line-color) double 3px;
}

#contents #table-contents #table-contents-container #table-contents-list li::before {
    display: block;
    content: '';
    width: 70%;
    border-top: var(--table-contents-line-color) solid 2px;
}

#contents #table-contents #table-contents-container #table-contents-list li:first-child::before {
    border-top: none;
}

/* contents end */