:root{
    --darkmode-dark-background-color: #000;
    --darkmode-moon-color: #ffff00;
    --darkmode-light-background-color: #ffffff;
    --darkmode-sun-color-start: #fff200;
    --darkmode-sun-color-middle: #ffc800;
    --darkmode-sun-color-end: #ff000096;
}
#darkmode-container {
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
}
#darkmode-container #darkmode-button {
    display: block;
    position: absolute;
    z-index: 990;
    width: 5vw;
    height: 5vw;
    right: 0px;
    bottom: 0px;
    border-radius: 100%;
    overflow: hidden;
}

#darkmode-container #darkmode-button #darkmode-dark{
    width: 90%;
    height: 90%;
    background-color: var(--darkmode-dark-background-color);
    z-index: 991;
    border-radius: 100%;
    border: solid var(--darkmode-light-background-color);
}

#darkmode-container #darkmode-button #darkmode-dark #moon{
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
    border-radius: 100%;
    background-color: var(--darkmode-moon-color);
}

#darkmode-container #darkmode-button #darkmode-dark #moon #moon-shadow{
    width: 70%;
    height: 70%;
    border-radius: 100%;
    background-color: var(--darkmode-dark-background-color);
}

#darkmode-container #darkmode-button #darkmode-light{
    width: 90%;
    height: 90%;
    background-color: var(--darkmode-light-background-color);
    z-index: 991;
    border-radius: 100%;
    border: solid var(--darkmode-dark-background-color);
    
}

#darkmode-container #darkmode-button #darkmode-light #sun{
    position: absolute;
    left: calc(30% - 1px);
    top: calc(30% - 1px);
    width: 40%;
    height: 40%;
    border-radius: 100%;
    background-color: var(--darkmode-sun-color-start);
    border: solid 1px var(--darkmode-sun-color-middle);
}
#darkmode-container #darkmode-button #darkmode-light #sun-shadow{
    position: absolute;
    left: calc(30% - 1px);
    top: calc(30% - 1px);
    width: 40%;
    height: 40%;
    border-radius: 100%;
    border: solid 1px var(--darkmode-sun-color-middle);
    box-shadow: 0px 0px 8px 1px var(--darkmode-sun-color-end);
}
#darkmode-container #darkmode-button #darkmode-light #sunset1{
    position: absolute;
    left: calc(30% - 1px);
    top: calc(30% - 1px);
    width: 40%;
    height: 40%;
    transform: rotate(45deg);
    background-color: var(--darkmode-sun-color-start);
    border: solid 1px var(--darkmode-sun-color-middle);
    
}

#darkmode-container #darkmode-button #darkmode-light #sunset2{
    position: absolute;
    left: calc(30% - 1px);
    top: calc(30% - 1px);
    width: 40%;
    height: 40%;
    background-color: var(--darkmode-sun-color-start);
    border: solid 1px var(--darkmode-sun-color-middle);
}

.darkmode-display-none {
    display: none;
}