:root
{
    --wave-image: url(../../img/animation/wave.png);
        /** dark **/
        --wave-image-dark: url(../../img/animation/wavedark.png);
        /** light **/
        --wave-image-light: url(../../img/animation/wave.png);
}

section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--wave-image);
    background-size: 1000px 100%;
    
}

@keyframes animate
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}